@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars while preserving scroll behavior */
.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide Chrome built-in password key/save icons inside inputs */
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-caps-lock-indicator,
input[type="password"]::-webkit-password-toggle {
  display: none;
}
